.step-3 {
    &__outer {
        padding-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 20px;
    }
    
    &__item {
        width: 300px;
        height: 120px;
        padding: 15px 25px 25px 15px;
        border: 2px solid #244673;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        font-weight: 500;

        span {
            width: 30px;
            height: 30px;
            background-color: #244673;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }

    &__subtext {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
    }
}