.step-result {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__cards {
        display: flex;
        max-width: 1200px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;
        font-weight: 500;
        background-color: rgba(#244673, 0.25);
        padding: 0 0 10px;
        border-radius: 10px;

        span {
            background-color: rgba(#244673, 0.9);
            color: #fff;
            padding: 5px 10px;
            margin-bottom: 10px;
            min-width: 200px;
            text-align: center;
        }
    }

    &__text {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;

        p {
            margin: 0;
            color: #f0f0f0;
            font-weight: 600;
            margin-top: 10px;
            font-size: 18px;
            background: rgb(36,70,115);
            background: radial-gradient(circle, rgba(36,70,115,1) 0%, rgba(36,70,115,0.85) 100%);
            padding: 10px 15px;
            border-radius: 5px;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
    }

    &__footer {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}