.step-1 {
    padding-top: 100px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    text-align: left;

    &__outer {
        text-align: center;
    }

    &__label {
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    &__id {
        display: flex;
        align-items: center;
        gap: 20px;
        span {
            width: 90px;
            text-align: center;
            padding: 20px 0;
            border-radius: 15px;
            background-color: rgba(0, 0, 0, 0.05);
            font-size: 60px;
            font-weight: 500;
        }
    }

    &__name {
        font-size: 40px;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 20px 20px;
        border-radius: 10px;
    }
}