body {
}

::-webkit-scrollbar {
    display: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
  
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.btn {
    background-color: #c53936;
    border: 1px solid #c53936;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 7px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    
    &:disabled {
        opacity: 0.8;
        cursor: default;
    }

    &:hover:not([disabled]) {
        background-color: rgba(0, 0, 0, 0);
        color: #c53936;
    }

    &.opacity {
        background-color: rgba(0, 0, 0, 0);
        color: #c53936;

        &:hover:not([disabled]) {
            background-color: #c53936;
            color: #fff;
        }
    }

    &.icon {
        background-color: rgba(0, 0, 0, 0);
        color: #244673;
        font-size: 25px;
        padding: 0 30px;
        border: none;
        max-width: 50px;

        &:hover:not([disabled]) {
            border: none;
            color: #c53936;
        }
    }

    &.blue {
        background-color: #244673;
        color: #fff;
        border-color: #244673;

        &:hover:not([disabled]) {
            background-color: rgba(0, 0, 0, 0);
            color: #244673;
        }

        &.opacity {
            background-color: rgba(0, 0, 0, 0);
            color: #244673;

            &:hover:not([disabled]) {
                background-color: #244673;
                color: #fff;
            }
        }
    }
}

.step-progress {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        background-color: rgba(0, 0, 0, 0.3);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: relative;
        margin-left: 120px;
        color: white;
        font-weight: 600;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 18px;
        transition: ease-in-out 0.2s;

        i {
            display: none;
        }

        &.active {
            background-color: #1c910df8;
            i {
                display: inline;
            }

            &:before {
                background-color: #1c910df8;
            }
        }

        &:before {
            content: "";
            transition: ease-in-out 0.2s;
            background-color: rgba(0, 0, 0, 0.3);;
            width: 120px;
            height: 3px;
            position: absolute;
            top: 50%;
            right: 25px;
        }
    }
}

.step-buttons {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
    width: 100%;

    .btn {
        min-width: 220px;
    }
}

.alert {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    i {
        font-size: 22px;
        font-weight: 400;
    }

    &.red {
        background-color: rgba(#c53936, 0.9);
        color: #fff;
    }
}

.animate__animated {
    --animate-duration: 0.2s;
    &.d-1 {
        animation-delay: 0.1s;
    }
    &.d-2 {
        animation-delay: 0.2s;
    }
    &.d-3 {
        animation-delay: 0.3s;
    }
    &.d-4 {
        animation-delay: 0.4s;
    }
    &.d-5 {
        animation-delay: 0.5s;
    }
    &.d-6 {
        animation-delay: 0.6s;
    }
    &.d-7 {
        animation-delay: 0.7s;
    }
    &.d-8 {
        animation-delay: 0.8s;
    }
    &.d-9 {
        animation-delay: 0.9s;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#244673, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  
  input:checked + .slider {
    background-color: #244673;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #244673;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  
  .slider.round {
    border-radius: 18px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
    bottom: 10px;
    left: 0;
    font-weight: 500;

    span {
        font-size: 12px;
    }
}

.connection-status {
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;

    &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #c53936;
    }

    span {
        display: none;
    }

    &.active {
        color: #1c910df8;
        &::after {
            background-color: #1c910df8;
        }
        span {
            display: block;
        }
    }
}