.number-form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 45px;

  &__title {
    color: #3c495c;
    font-size: 2em;
    font-weight: 500;
  }

  &__input input, .number-buttons {
    max-width: 600px;
  }

  &__not-found {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 500;
    color: #c53936;
  }

  .btn {
    margin-top: 20px;
  }
}

.input-save-phone {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}